/*------------------------ general styles ------------------------*/
body, html {
    height: 100%;
}

/*------------------------ custom colors ------------------------*/
.bg-black {
    background-color: #000000;
}

/* ============================= .form-box ============================= */
.form-box {
    padding: 1.5rem;
    /*border: solid #f7f7f9;*/
}
.form-box input {
    width: 100%;
}
/* ============================= .btn-box ============================= */
/*.btn-box {
    width: 100%;
    text-align: center;
}*/
/* ============================= .header-box ============================= */
.header-box {
    text-align: center;
}